<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | Clinic Connect</title>
        <link rel = "stylesheet" href = "../styles/main.css">

        <meta charset="utf-8">
        <link rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:200,300,400,600,700,900">
    </head>

    <body>
        <div class = "background">
            <div class = "locations-container">
                <div class = "locations-modal">
                    <div class = "user-info-container">
                        <div class = "user-info">
                            <div class = "user-img-container">
        
                            </div>
        
                            <div class = "user-text-container">
                                <h1 class = "user-name">Adarsh Rao</h1>
                                <h2 class = "user-location">Philedelphia, PA, USA</h2>
                            </div>
                        </div>
                        <a href="#" class = "settings-button">S</a>
                    </div>

                    <div class = "card-container">
                        <div class = "card">

                        </div>

                        <div class = "card">
                            
                        </div>

                        <div class = "card">
                            
                        </div>

                        <div class = "card">
                            
                        </div>

                        <div class = "card">
                            
                        </div>

                        <div class = "card">
                            
                        </div>

                        <div class = "card">
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class = "map-container">
                
                
            </div>
        </div>
    </body>

</html>