<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | Clinic Connect</title>
	<link rel = "stylesheet" type="text/css" href = "../styles/main.css">

	<meta charset="utf-8">
	<link rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:200,300,400,600,700,900">
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
	<div class = "background">
        <div class = "locations-container">
            <div class = "locations-modal">
                <div class = "user-info-container">
                    <div class = "user-info">
                        <img src = "../public/images/user.svg" class = "user-img">
    
                        <div class = "user-text-container-vertical-center">
                            <div class = "user-text-container">
                                <h1 class = "user-name">Adarsh Rao</h1>
                                <h2 class = "user-location">Philadelphia, PA, USA</h2>
                            </div>
                        </div>
                        
                    </div>
                    <a href="#" class = "settings-button"><img src = "../public/images/settings.svg" class = "settings-img"></a>
                </div>

                <div class = "card-container">
                	<ul style="list-style: none;">
                		<% for(i = 0; i < studies.length; i++){%>
                	    	<li>
                	    		<div class = "card">
                	    			<p><%= JSON.stringify(studies[i].title); %></p>
                    			</div>
                	    	</li>
                		<% }; %> 
                	</ul>

                    <div class = "card-container-faded-edges"></div>

                </div>
            </div>
        </div>
        <div class = "map-container">
            <div id='map'></div>
            <script>
            	mapboxgl.accessToken = 'pk.eyJ1IjoibGFicmF0cyIsImEiOiJja2swZGtnZmYwNHd3Mm9wYngxZ3M3ZDFuIn0.1UDPtpkpWoNfw-d4NKMzhw';
            	var map = new mapboxgl.Map({
            	container: 'map',
            	style: 'mapbox://styles/kl001/ckk0l8h561met18m8y57g4cuz',
            	center: [-75.2088799, 39.951172], // starting position [lng, lat]
            	zoom: 12 // starting zoom
            	});

            	var changePosition = function(lat, lng) {
            		map.flyTo({
            			center: [lng, lat],
            		 	essential: true // this animation is considered essential with respect to prefers-reduced-motion
            		});
            	};
            </script>
        </div>
    </div>
	

</body>
</html>